<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] * T-Money</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="~/font/simple-line-icons/css/simple-line-icons.css" />

    <link rel="stylesheet" href="~/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="~/css/vendor/component-custom-switch.min.css" />
    <link rel="stylesheet" href="~/css/vendor/perfect-scrollbar.css" />

    @RenderSection("Styles", required: false)

    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body id="app-container" class="menu-default show-spinner">
    <nav class="navbar fixed-top">
        <div class="d-flex align-items-center navbar-left">
            <a href="#" class="menu-button d-none d-md-block">
                <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                    <rect x="0.48" y="0.5" width="7" height="1" />
                    <rect x="0.48" y="7.5" width="7" height="1" />
                    <rect x="0.48" y="15.5" width="7" height="1" />
                </svg>
                <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                    <rect x="1.56" y="0.5" width="16" height="1" />
                    <rect x="1.56" y="7.5" width="16" height="1" />
                    <rect x="1.56" y="15.5" width="16" height="1" />
                </svg>
            </a>

            <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                    <rect x="0.5" y="0.5" width="25" height="1" />
                    <rect x="0.5" y="7.5" width="25" height="1" />
                    <rect x="0.5" y="15.5" width="25" height="1" />
                </svg>
            </a>
        </div>


        <a class="navbar-logo" asp-area="" asp-controller="Home" asp-action="Index">
            <span class="logo d-none d-xs-block"></span>
            <span class="logo-mobile d-block d-xs-none"></span>
        </a>

        <div class="navbar-right">
            <div class="header-icons d-inline-block align-middle">


                <div class="position-relative d-none d-sm-inline-block">
                    <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="simple-icon-grid"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-3  position-absolute" id="iconMenuDropdown">

                        <a asp-area="" asp-controller="Category" asp-action="Index"
                           class="icon-menu-item">
                            <i class="iconsminds-box-with-folders d-block"></i>
                            <span>Categories</span>
                        </a>

                        <a asp-area="" asp-controller="Account" asp-action="Index"
                           class="icon-menu-item">
                            <i class="iconsminds-wallet d-block"></i>
                            <span>Accounts</span>
                        </a>

                        <a asp-area="" asp-controller="Settings" asp-action="Index" class="icon-menu-item">
                            <i class="iconsminds-equalizer d-block"></i>
                            <span>Settings</span>
                        </a>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="icon-menu-item" >
                            <i class="iconsminds-profile d-block"></i>
                            <span>Profile</span>
                        </a>

                        <a asp-area="" asp-controller="Help" asp-action="Index" class="icon-menu-item">
                            <i class="simple-icon-question d-block"></i>
                            <span>Help</span>
                        </a>
                        <a asp-area="" asp-controller="Donate" asp-action="Index" class="icon-menu-item">
                            <i class="simple-icon-heart d-block"></i>
                            <span>Donate</span>
                        </a>

                    </div>
                </div>


            </div>


            
           

            <partial name="_LoginPartial"/>
        </div>
    </nav>

    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="iconsminds-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Transaction" asp-action="Index">
                            <i class="iconsminds-dollar-sign-2"></i>
                            <span>Transactions</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Report" asp-action="Index">
                            <i class="iconsminds-statistic"></i>
                            <span>Reports</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Budget" asp-action="Index">
                            <i class="simple-icon-chart"></i>
                            <span>Budget</span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>

    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="page-footer">
        <div class="footer-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-muted">Fernando Tomasio - todos os direitos reservados - 2020</p>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                        @*
                            <ul class="breadcrumb pt-0 pr-0 float-right">
                                <li class="breadcrumb-item mb-0">
                                    <a class="btn-link" asp-area="" asp-controller="Home" asp-action="Privacy">Review</a>
                                </li>
                                <li class="breadcrumb-item mb-0">
                                    <a href="#" class="btn-link">Purchase</a>
                                </li>
                                <li class="breadcrumb-item mb-0">
                                    <a href="#" class="btn-link">Docs</a>
                                </li>
                            </ul>
                        *@
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="~/js/vendor/mousetrap.min.js"></script>
    @RenderSection("Scripts", required: false)

    <script src="~/js/dore.script.js"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>

</body>
</html>
