@{
    ViewData["Title"] = "Categories";
}

<div class="row">
    <div class="col-12">
        <h1>@ViewData["Title"]</h1>
        <div class="top-right-button-container">         
            <button id="btnGroupDrop1" type="button" class="btn btn-lg btn-primary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ADD NEW
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a  asp-area="" asp-controller="Category" asp-action="Edit" 
                    class="dropdown-item">Expense Category</a>
                <a  asp-area="" asp-controller="Category" asp-action="Edit"  
                    class="dropdown-item">Income Category</a>
            </div>

        </div>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
            <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Library</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
        <div class="separator mb-5"></div>
    </div>
</div>