@model IList<Category>

@{
    ViewData["Title"] = "Categories";
}


<div class="row">
    <div class="col-12">
        <h1>@ViewData["Title"]</h1>
        <div class="top-right-button-container">
            <button id="btnGroupDrop1" type="button" class="btn btn-lg btn-primary dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ADD NEW
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a asp-area="" asp-controller="Category" asp-action="Edit"
                   class="dropdown-item">Expense Category</a>
                <a asp-area="" asp-controller="Category" asp-action="Edit"
                   class="dropdown-item">Income Category</a>
            </div>

        </div>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
            <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Library</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
        <div class="mb-2">

            <div class="collapse dont-collapse-sm" id="displayOptions">

                <div class="d-block d-md-inline-block">
                    <div class="btn-group float-md-left mr-1 mb-1">
                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tipo
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </div>
                    <div class="btn-group float-md-left mr-1 mb-1">
                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contas
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </div>
                    <div class="btn-group float-md-left mr-1 mb-1">
                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categorias
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </div>
                    <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                        <input placeholder="Buscar...">
                    </div>

                </div>
                <div class="float-md-right">
                    <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        April 2020
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">May 2020</a>
                        <a class="dropdown-item" href="#">June 2020</a>
                        <a class="dropdown-item" href="#">July 2020</a>
                        <a class="dropdown-item" href="#">August 2020</a>
                        <a class="dropdown-item" href="#">September 2020</a>
                        <a class="dropdown-item" href="#">October 2020</a>
                        <a class="dropdown-item" href="#">November 2020</a>
                        <a class="dropdown-item" href="#">December 2020</a>
                        <a class="dropdown-item" href="#">January 2021</a>
                        <a class="dropdown-item" href="#">February 2021</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="separator mb-5"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 list" data-check-all="checkAll">

        @{
            foreach (var item in Model)
            {
                <div class="card d-flex flex-row mb-3">
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                            <i class="simple-icon-refresh heading-icon"></i>
                            <a class="list-item-heading mb-0 truncate w-40 w-xs-100" href="Pages.Product.Detail.html">
                                @item.Description
                            </a>
                            <p class="mb-0 text-muted text-small w-15 w-xs-100">Cakes</p>
                            <p class="mb-0 text-muted text-small w-15 w-xs-100">R$ 2.500,00</p>
                            <div class="w-15 w-xs-100">
                                <span class="badge badge-pill badge-primary">PAGO</span>
                            </div>
                        </div>
                        <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-label">&nbsp;</span>
                        </label>
                    </div>
                </div>
            }
        }


    </div>
</div>