@{
    ViewData["Title"] = "Transaction";
}


@section Styles {
    <link rel="stylesheet" href="~/css/vendor/select2.min.css" />
    <link rel="stylesheet" href="~/css/vendor/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/vendor/bootstrap-datepicker3.min.css" />

}

<div class="row">
    <div class="col-12">
        <h1>@ViewData["Title"]</h1>
        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
            <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Library</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
        <div class="separator mb-5"></div>
    </div>
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Descriçao</label>
                        <input type="email" class="form-control">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Conta</label>
                            <select class="form-control select2-single" data-width="100%">
                                <option label="&nbsp;">&nbsp;</option>

                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Categoria</label>
                            <select class="form-control select2-single" data-width="100%">
                                <option label="&nbsp;">&nbsp;</option>

                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                    <option value="AK">Alaska</option>
                                    <option value="HI">Hawaii</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1" >Valor</label>
                            <input type="text"  class="form-control money" data-symbol="R$ " 
                                   data-thousands="." data-decimal="," >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1">Data</label>
                            <input type="text" class="form-control datepicker">
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary mb-0">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/vendor/select2.full.js"></script>
    <script src="~/js/vendor/bootstrap-datepicker.js"></script>
    <script src="~/js/vendor/jquery.maskMoney.min.js"></script>
    <script>
        $(".money").maskMoney();
    </script>
}
